In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('StudentStatistics.csv',sep=";")
df.head()

,RespNr,Location,OAA_ObjCourse,OAA_ObjClass,OAA_CourseExec,OAA_RelActObj,OAA_RelActExa,OAA_RelObjExa,OAA_LearProcAct,OAA_LearProcPrep,...,Mix_IntDiscus,Mix_IntPrep,Mix_IntExcel,Over_Grade,Gen_Gender,Gen_Age,Gen_SecSchool,Gen_Classes,Gen_NumberSubj,Gen_Time
0,1.0,Rotterdam,Fully Disagree,Fully Disagree,Fully Disagree,Disagree,Fully Disagree,Fully Disagree,Fully Disagree,Fully Disagree,...,Not at all,not so much,not so much,20.0,Female,22.0,NaN,NaN,Fully agree,20 < 30
1,2.0,Haarlem,Disagree,Disagree,NaN,Fully Disagree,Neither disagree nor agree,Agree,Disagree,Neither disagree nor agree,...,not so much,somewhat,somewhat,50.0,Male,NaN,The Netherlands,6.0,Disagree,10 < 20
2,3.0,Diemen,Fully agree,Fully agree,Agree,Fully agree,Fully agree,Fully agree,Fully agree,Agree,...,Very much,somewhat,somewhat,80.0,Male,37.0,Africa,7.0,Agree,10 < 20
3,4.0,Rotterdam,Fully Disagree,Neither disagree nor agree,Disagree,Neither disagree nor agree,Neither disagree nor agree,Fully Disagree,Fully Disagree,Neither disagree nor agree,...,NaN,neutral,neutral,15.0,Female,24.0,The Netherlands,6.0,Agree,10 < 20
4,5.0,Haarlem,Disagree,Agree,Fully Disagree,Neither disagree nor agree,Fully agree,Fully agree,Neither disagree nor agree,Fully agree,...,Not at all,somewhat,Very much,40.0,Male,19.0,The Netherlands,7.0,Fully agree,10 < 20

### The example will use as a nominal field the 'Location', and as an ordinal field the 'Teach_Motivate' (if the teacher was able to motivate the student).

In [3]:
df["Location"].unique()

array(['Rotterdam', 'Haarlem', 'Diemen'], dtype=object)

In [4]:
df["Teach_Motivate"].unique()

array(['Fully Disagree', 'Disagree', 'Fully agree',
       'Neither disagree nor agree', nan, 'Agree'], dtype=object)

In [5]:
nom=df["Location"]

In [6]:
ord=df["Teach_Motivate"]

In [7]:
crosstab_table = pd.crosstab(ord,nom)

In [8]:
crosstab_table

Location                    Diemen  Haarlem  Rotterdam
Teach_Motivate
Agree                            5        1          1
Disagree                         0        6          3
Fully Disagree                   1       10          9
Fully agree                      5        1          0
Neither disagree nor agree       6        3          3

In [9]:
ord_dict = {'Fully Disagree': 1, 'Disagree': 2, 'Neither disagree nor agree': 3, 'Agree': 4, 'Fully agree': 5}

In [10]:
df["Teach_Motivate_ohe"]=df["Teach_Motivate"].replace(ord_dict)

In [11]:
df["Teach_Motivate_ohe"].value_counts()

1.0    20
3.0    12
2.0     9
4.0     7
5.0     6
Name: Teach_Motivate_ohe, dtype: int64

In [12]:
from pingouin import kruskal

In [14]:
kruskal(data=df, dv='Teach_Motivate_ohe', between='Location') #dv=dependent variable

           Source  ddof1          H     p-unc
Kruskal  Location      2  21.328066  0.000023

### Since this chance is so low (below 0.050), we can  reject the Ho and conclude that most likely in the population there will be a difference between the three locations.

In [26]:
x=df[df["Location"]=="Rotterdam"]["Teach_Motivate_ohe"].dropna()
x

0     1.0
3     1.0
6     3.0
9     1.0
12    1.0
15    3.0
18    4.0
21    2.0
24    2.0
27    1.0
30    1.0
33    1.0
36    2.0
39    1.0
42    1.0
45    3.0
Name: Teach_Motivate_ohe, dtype: float64

In [27]:
y=df[df["Location"]=="Haarlem"]["Teach_Motivate_ohe"].dropna()
y

1     2.0
4     1.0
7     1.0
10    1.0
13    1.0
19    2.0
22    1.0
25    2.0
28    1.0
31    2.0
34    5.0
37    3.0
40    2.0
43    1.0
46    3.0
48    4.0
50    1.0
51    1.0
52    2.0
53    3.0
54    1.0
Name: Teach_Motivate_ohe, dtype: float64

In [28]:
z=df[df["Location"]=="Diemen"]["Teach_Motivate_ohe"].dropna()
z

2     5.0
5     5.0
8     5.0
11    5.0
14    3.0
17    3.0
20    4.0
23    3.0
26    4.0
29    3.0
32    4.0
35    4.0
38    4.0
41    5.0
44    3.0
47    1.0
49    3.0
Name: Teach_Motivate_ohe, dtype: float64

In [21]:
from scipy.stats import kruskal

In [29]:
kruskal(z, y, x)

KruskalResult(statistic=21.328066442489817, pvalue=2.3370565284336716e-05)

In [30]:
kruskal(x, y, z)

KruskalResult(statistic=21.328066442489817, pvalue=2.3370565284336716e-05)

### Degrees of freedom

In [31]:
dof = len(nom.unique()) - 1
dof

2